/**
 * Settings Page Design for WordPress < v3.8
*/
.CryptexBlockcontent{
	padding: 5px 10px 10px 10px;
	margin: 0px 0px 20px 0px;
	border: solid 1px #e0e0e0;
	border-radius: 5px;
	background-color: #f9f9f9;
}
.CryptexBlockcontent img{
	padding-left: 15px;
}

.CryptexSetting{
	display: block;
	padding: 6px 10px 6px 15px;
}
.CryptexSettingTitle{
	float: left;
	width: 200px;
	font-weight: bold;
}
.CryptexSettingItem{
	float: left;
}
.CryptexSettingClear{
	clear: left;
}
.CryptexTRUE{
	font-weight: bold;
	color: #54950d;
}
.CryptexFALSE{
	font-weight: bold;
	color: #950d0d;
}