.CryptexBlockcontent{
	padding: 5px 10px 10px 10px;
	margin: 0px 0px 20px 0px;
	border: solid 1px #e0e0e0;
	border-radius: 5px;
	background-color: #f9f9f9;
}
.CryptexBlockcontent h4{
	color: #0074a2;
	displa: block;
	border-bottom: dotted 2px #c0c0c0;
}
.CryptexBlockcontent img{
	padding-left: 15px;
}

.CryptexSetting{
	display: block;
	padding: 5px 10px 5px 15px;
}
.CryptexSettingTitle{
	float: left;
	width: 250px;
	font-weight: bold;
	hieght: 30px;
	line-height: 30px;
}
.CryptexSettingItem{
	float: left;
}
.CryptexSettingClear{
	clear: left;
}
.CryptexTRUE{
	font-weight: bold;
	color: #7ad03a;
}
.CryptexFALSE{
	font-weight: bold;
	color: #d03a3a;
}