<ul>
<li>Added: Full <code>srcset</code> highdpi support (all images generated in the required resolution)</li>
<li>Added: Number of cached files to the settings page</li>
<li>Added: about-page inlcuding html changelog</li>
<li>Added: redirect to about-page on plugin activation/upgrade</li>
<li>Added: debug tab to the about-page containing the full plugin configuration</li>
<li>Changed: replaced dedicated colorpicker by build-in WordPress <a href="http://automattic.github.io/Iris/">iris</a> picker</li>
<li>Changed: plugin settings splitted into multiple pages</li>
<li>Changed: image dimensions of high resolution images are not cached anymore (performance)</li>
<li>Changed: HTML5 srcset based HDPI renderer is set as prefered option</li>
<li>Changed: moved plugin files into <code>modules/</code> directory as required by <code>wp-skltn</code></li>
<li>Changed: set default line-height to 20px instead of auto</li>
<li>Changed: set default padding to 4px</li>
<li>Changed: <code>wp-skltn</code> library updated to <strong>0.17.0</strong> - MPL 2.0 License</li>
<li>Bugfix: added <code>width</code> attribute to html-srcset highdpi images (causes invalid dimension on iOS devices)</li>
</ul>
